@model IEnumerable<NewsPaper.Models.NewsModels.New>


@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h2>News</h2>
<div id="AddNewContaner" class="col-md-10">

</div>

@foreach (var oneNew in Model)
{
    <article class="new row" id="@oneNew.Id">
        <div class="col-lg-2 col-md-2">
            <div class="new-rating">
                <div class="all-vortex col-md-2">
                    <span class="glyphicon glyphicon-bullhorn"></span>@oneNew.VotersCount
                </div>
                <div class="averege-rating col-md-2">
                    <span class="glyphicon glyphicon-star"></span>@oneNew.AverageRating
                </div>
            </div>
        </div>
        <div class="new-main col-lg-10 ">
            <header class="new-header col-lg-10">
                <h2 class="new-title">@oneNew.Description</h2>
            </header>
            <div class="new-content col-lg-10">
                <div class="inner-block">
                    <div class="new-text">@oneNew.Content</div>
                </div>
            </div>
            <div class="new-tags col-lg-10">

            </div>
            <div class="new-footer col-lg-10">
                <div class="new-tols col-mg-3">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div class="col-lg-4 col-lg-offset-5"></div>
                <div class="col-lg-3 user-info">
                    @*<div class="col-lg-2">@oneNew.User.UserName</div>*@
                    <div class="col-lg-2">@oneNew.CreationTime</div>
                </div>
            </div>
        </div>
    </article>

}

